*{
    margin:0;
}
body{
    font-family:Arial ;
}
a{
    color:black;
    text-decoration: none;

}
img{ max-width:100%

}

.header {
    display:flex;
    height:100px;
    background-color:#ffcc00;
    justify-content: space-around;
    text-align: center;
}
header a{
    margin-right:30px ;
}/*main*/
main{
    padding: 20px;
    background-color: #f9f9f9;
}
main h2{
    font-size: 45px;
    width: 300px;
    text-align: right;
}

